<a mat-menu-item routerLink="/">Главная</a>
<main role="main" >
    <div class="container">
        <div class="row">
            <div class="ml-auto mr-auto">
                <mat-card *ngIf="data$| async as data">
                    <div class="poster">
                        <img class="img-responsive" src="{{data?.Poster}}" [alt]="data.Title">
                    </div>
                    <div class="content">
                        <mat-card-header>
                            <div mat-card-avatar>
                                <span *ngIf="data.Metascore && data.Metascore !== 'N/A'">{{ data.Metascore }}</span>
                                <h3 *ngIf="data.imdbRating && data.imdbRating !== 'N/A'">{{ data.imdbRating }}</h3>
                            </div>
                            <mat-card-title>{{ data.Title }} ({{ data.Year }})</mat-card-title>
                            <mat-card-subtitle>
                                <span *ngIf="data.Rated"> {{ data.Rated }} |</span>
                                <span *ngIf="data.Runtime"> {{ data.Runtime }} |</span>
                                <span *ngIf="data.Genre"> {{ data.Genre }} |</span>
                                <span *ngIf="data.Language && data.Language !== 'N/A'"> {{ data.Language }}
                                    |</span>
                                <span *ngIf="data.Released && data.Released !== 'N/A'"> {{ data.Released }}</span>
                                <span *ngIf="data.Country && data.Country !== 'N/A'"> ({{ data.Country }}
                                    ) </span>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div>
                                <div *ngIf="data.Awards" class="text-success">
                                    <em>Awards</em>
                                    <p>{{ data.Awards }}</p>
                                </div>
                                <div *ngIf="data.Plot">
                                    <em>Summary</em>
                                    <p>{{ data.Plot }}</p>
                                </div>
                                <div *ngIf="data.Director">
                                    <em>Director</em>
                                    <p>{{ data.Director }}</p>
                                </div>
                                <div *ngIf="data.Writer ">
                                    <em>Writer</em>
                                    <p>{{ data.Writer }}</p>
                                </div>
                                <div *ngIf="data.Actors">
                                    <em>Actors</em>
                                    <p>{{ data.Actors }}</p>
                                </div>
                                <div *ngIf="data.Production">
                                    <em>Production</em>
                                    <p>{{ data.Production }}</p>
                                </div>
                                <div>
                                    <a href="http://www.imdb.com/title/{{data.imdbID}}" target="_blank">See more at
                                        Imdb</a>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</main>
